@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://t3.ftcdn.net/jpg/08/00/78/16/360_F_800781632_ZPSdL432mDnRE3yRWseXYOP6AxRC0aDg.jpg') center/cover no-repeat;
  opacity: 0.3; /* Adjust opacity to make the image more transparent */
  z-index: -1; /* Place the overlay behind the content */
}

